.story1 {
  background: url('../../img/story/story2.jpg') no-repeat center;
  background-size: cover;
  height: 40rem;
  position: relative;
  margin-bottom: 3rem;
}

.story1-p {
  margin-right: auto;
  margin-left: auto;
  width: 220px;
  position: absolute;
  top: 15%;
  left: 5%;
}

.story2 {
  background: url('../../img/story/story7.jpg') no-repeat center;
  background-size: cover;
  height: 40rem;
  position: relative;
  margin-bottom: 3rem;
}
.story2-p {
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  width: 250px;
  position: absolute;
  top: 5%;
  right: 5%;
}

.story3 {
  background: url('../../img/story/story5.jpg') no-repeat center;
  background-size: cover;
  height: 30rem;
  position: relative;
  margin-bottom: 3rem;
}
.story3-p {
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  width: 225px;
  position: absolute;
  top: 10%;
  left: 5%;
}

.story4 {
  background: url('../../img/story/story4.jpg') no-repeat center;
  background-size: cover;
  height: 40rem;
  position: relative;
  margin-bottom: 3rem;
}
.story4-p {
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  width: 260px;
  position: absolute;
  top: 35%;
  left: 5%;
}

.story-p {
  font-family: 'fntL';
  font-size: 1rem;
}

.story-head {
  font-family: 'MainFont';
  margin-bottom: -1px;
}
.story-chain {
  font-family: 'fntM';
}
.chain-button {
  border: 0;
  outline: 0;
}
