@keyframes showItem {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.stagger-item-menuhead {
  animation: showItem 0.5s;
  animation-fill-mode: both;
  font-family: 'MainFont';
  font-size: 0.9rem;
}

.mn-lb {
  animation: showItem 0.5s;
  animation-fill-mode: both;
  animation-delay: 0.15s;
}
.원두타입 {
  animation: showItem 0.5s;
  animation-fill-mode: both;
  animation-delay: 0.15s;
  font-size: 0.5rem;
}
.sign {
  animation: showItem 0.5s;
  animation-fill-mode: both;
  animation-delay: 0.15s;
  font-size: 0.5rem;
  margin-top: -0.4rem;
  font-family: 'fntL';
}

hr {
  color: white;
}

.mn-margin {
  margin-left: 2rem;
}

.sig {
  font-size: 1.5rem;
}

.mn-lb {
  color: white;
  outline: 0;
  border: 0;
  background-color: black;
  font-size: 1rem;
  font-family: 'fntL';
}
